Checks: '
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-union-access,
  google-explicit-constructor,
  modernize-*,
  -modernize-use-trailing-return-type
  '
WarningsAsErrors: '*'
FormatStyle: File